* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.dull-text {
    color: #777;
}

.side-nav-tile {
    padding: 12px;
}