* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

input {
    min-width: 50px;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.dull-text {
    color: #777;
}

.side-nav-tile {
    padding: 12px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    --function-color: orange;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.w100, .wh100 {
    width: 100%;
}
.h100, .wh100 {
    height: 100%;
}

.absolute {
    position: absolute;
}

.ovflw-auto {
    overflow: auto;
}

.small-text {
    font-size: 8pt;
}

/* .delete-btn {
    display: none;
} */


.component-wrapper {
    padding-left: 10px;
}

.method-container {
    padding: 4px 0;
}

.t-align-right {
    text-align: right;
}

/* .arguments-wrapper {
    background: #eee;
} */

.file-title {
    height: 26px;
    padding: 0 8px;
    cursor: pointer;
}
.file-title:hover {
    background-color: #ddd;
}

.project-structure-pane:hover .nest-pad {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-context-wrapper {
    position: relative;
}

.nav-context-exit-btn {
    position: absolute;
    top: 0;
    right: 0;
}


.light-bg-btn, .dark-bg-btn {
    border-radius: 7px;
    cursor: pointer;
}
.light-bg-btn {
    background-color: white;
    border: 2px solid #737373;
    color: black;
}
.light-bg-btn:hover {
    background-color: #737373;
    color: white;
}

.dark-bg-btn {
    background-color: #737373;
    border: 2px solid white;
    color: white;
}
.dark-bg-btn:hover {
    background-color: white;
    color: black;
}