* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.dull-text {
    color: #777;
}

.side-nav-tile {
    padding: 12px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.w100, .wh100 {
    width: 100%;
}
.h100, .wh100 {
    height: 100%;
}

.absolute {
    position: absolute;
}

.ovflw-auto {
    overflow: auto;
}